@font-face {
    font-family: "D2 Coding";
    font-weight: 400;
    src: url("./font/D2Coding-Ver1.3.2-20180524.woff") format("woff");
}

@font-face {
    font-family: "D2 Coding";
    font-weight: 700;
    src: url("./font/D2CodingBold-Ver1.3.2-20180524.woff") format("woff");
}

body {
    font-family: "D2 Coding";
    text-align: center;
    margin: 0;
}

@media all and (min-aspect-ratio: 1/1) {
    h1 {
        height: 5vh;
        margin: 2.5vh 0 2.5vh 0;
    }

    #graph-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 88vh;
    }
        
    #graph {
        flex: 1;
        height: 100%;
        border-right: 2px solid #ccc;
    }
        
    #viewer {
        flex: 1;
        height: 100%;
        overflow-y: auto;
        padding: 10px;
        text-align: left;
    }
}

@media all and (max-aspect-ratio: 1/1) {
    h1 {
        height: 3vh;
        font-size: 2.5vh;
    }

    #graph-container {
        width: 100%;
    }
    
    #graph {
        width: 100%;
        height: 80vmin;
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }
    
    #viewer {
        font-size: 3vw;
        height: auto;
        padding: 0 3vmin 0 3vmin;
        text-align: left;
    }
}